<template>
<div>
	
                <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                    <!-- Left navbar links -->
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                      </li>
                      <li class="nav-item d-none d-sm-inline-block">
                        <a href="index3.html" class="nav-link">Home</a>
                      </li>
                      <li class="nav-item d-none d-sm-inline-block">
                        <a href="#" class="nav-link">Contact</a>
                      </li>
                    </ul>

                    <!-- SEARCH FORM -->
                    <form class="form-inline ml-3">
                      <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                          <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                          </button>
                        </div>
                      </div>
                    </form>
                </nav>
                <!-- /.navbar -->

                <!-- Main Sidebar Container -->
                  <aside class="main-sidebar sidebar-dark-primary elevation-4">
                    <!-- Brand Logo -->
                    <a href="index3.html" class="brand-link">
                      <img src="images/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                           style="opacity: .8">
                      <span class="brand-text font-weight-light">AdminLTE 3</span>
                    </a>

                    <!-- Sidebar -->
                    <div class="sidebar">
                      <!-- Sidebar user panel (optional) -->
                      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                          <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                          <a href="#" class="d-block">Alexander Pierce</a>
                        </div>
                      </div>

              <!-- Sidebar Menu -->
              <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                  <!-- Add icons to the links using the .nav-icon class
                       with font-awesome or any other icon font library -->
                  <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-tachometer-alt"></i>
                      <p>
                        Dashboard
                      </p>
                    </a>
                  </li>
                  <li class="nav-header">CRUD OPERATION MENU</li>
                  <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-circle font-weight-bold"></i>
                      <p>
                        Monday
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <router-link to="/Mondays/index" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>IndexComponent</p>
                        </router-link>
                      </li>
                      <li class="nav-item has-treeview">
                        <router-link to="/Mondays/create" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>
                            CreateComponent
                          </p>
                        </router-link>
                      </li>
                    </ul>
                  </li>


                  <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-circle font-weight-bold"></i>
                      <p>
                        Tuesday
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <router-link to="/Tuesdays/index" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>IndexComponent</p>
                        </router-link>
                      </li>
                      <li class="nav-item has-treeview">
                        <router-link to="/Tuesdays/create" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>
                            CreateComponent
                          </p>
                        </router-link>
                      </li>
                    </ul>
                  </li>


                  <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-circle font-weight-bold"></i>
                      <p>
                        Wednesday
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <router-link to="/Wednesdays/index" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>IndexComponent</p>
                        </router-link>
                      </li>
                      <li class="nav-item has-treeview">
                        <router-link to="/Wednesdays/create" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>
                            CreateComponent
                          </p>
                        </router-link>
                      </li>
                    </ul>
                  </li>


                  <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-circle font-weight-bold"></i>
                      <p>
                        Thrusday
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <router-link to="/Thrusdays/index" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>IndexComponent</p>
                        </router-link>
                      </li>
                      <li class="nav-item has-treeview">
                        <router-link to="/Thrusdays/create" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>
                            CreateComponent
                          </p>
                        </router-link>
                      </li>
                    </ul>
                  </li>


                  <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-circle font-weight-bold"></i>
                      <p>
                       Friday
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <router-link to="/Fridays/index" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>IndexComponent</p>
                        </router-link>
                      </li>
                      <li class="nav-item has-treeview">
                        <router-link to="/Fridays/create" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>
                            CreateComponent
                          </p>
                        </router-link>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-circle font-weight-bold"></i>
                      <p>
                        Saturday
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <router-link to="/Saturdays/index" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>IndexComponent</p>
                        </router-link>
                      </li>
                      <li class="nav-item has-treeview">
                        <router-link to="/Saturdays/create" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>
                            CreateComponent
                          </p>
                        </router-link>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                      <i class="nav-icon fas fa-circle font-weight-bold"></i>
                      <p>
                        Sunday
                        <i class="right fas fa-angle-left"></i>
                      </p>
                    </a>
                    <ul class="nav nav-treeview">
                      <li class="nav-item">
                        <router-link to="/Sundays/index" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>IndexComponent</p>
                        </router-link>
                      </li>
                      <li class="nav-item has-treeview">
                        <router-link to="/Sundays/create" class="nav-link">
                          <i class="far fa-circle nav-icon"></i>
                          <p>
                            CreateComponent
                          </p>
                        </router-link>
                      </li>
                    </ul>
                  </li>


                  
                </ul>
              </nav>
              <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
          </aside>

          <!-- Content Wrapper. Contains page content -->
           <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                  </div><!-- /.col -->
                  <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      
                    </ol>
                  </div><!-- /.col -->
                </div><!-- /.row -->
              </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

        <!-- Main content -->
   
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 v-if="mdetail.length">{{mdetail.length}}</h3>

                <p>Monday Movies</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3 v-if="tdetail.length">{{tdetail.length}}</h3>

                <p>Tuesday Movie</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3 v-if="wdetail.length">{{wdetail.length}}</h3>

                <p>Wednesday Movie</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3 v-if="thdetail.length">{{thdetail.length}}</h3>

                <p>Thrusday Movie</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3 v-if="fdetail.length">{{fdetail.length}}</h3>

                <p>Friday Movie</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
              <div class="inner">
                <h3 v-if="sdetail.length">{{sdetail.length}}</h3>

                <p>Saturday Movie</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3 v-if="sudetail.length">{{sudetail.length}}</h3>

                <p>Sunday Movie</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>


</div>
</template>
<script>
  export default {
    data:function(){
      return{
          mdetail : [],
          tdetail : [],
          wdetail : [],
          thdetail:[],
          fdetail :[],
          sdetail :[],
          sudetail:[]
      }
    },

    created:function(){
      axios.get('api/m-index')
      .then((response)=>this.mdetail = response.data)
      .catch((error) => console.log(error))


      axios.get('api/t-index')
      .then((response)=>this.tdetail = response.data)
      .catch((error) => console.log(error))

      axios.get('api/w-index')
      .then((response)=>this.wdetail = response.data)
      .catch((error) => console.log(error))

      axios.get('api/th-index')
      .then((response)=>this.thdetail = response.data)
      .catch((error) => console.log(error))

      axios.get('api/f-index')
      .then((response)=>this.fdetail = response.data)
      .catch((error) => console.log(error))

      axios.get('api/s-index')
      .then((response)=>this.sdetail = response.data)
      .catch((error) => console.log(error))

      axios.get('api/su-index')
      .then((response)=>this.sudetail = response.data)
      .catch((error) => console.log(error))
    }
  }
</script>