<template>
<div>   

            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Monday Movie</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <h2 v-if="inserted" class="alert alert-success">
                {{inserted}}
              </h2>
              <form role="form">
                <div class="card-body">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Movie Name" v-model="details.name">
                      </div>
                      <div class="form-group">
                        <label for="price">Description</label>
                        <input type="text" class="form-control" id="description" placeholder="Enter Movie Description" v-model="details.description">
                      </div>
                    <div class="form-group">
                        <label for="image">Image</label>
                        <div class="input-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="image" v-on:change="onImageChange">
                            <label class="custom-file-label" for="image">Choose file</label>
                          </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description">Show Time</label>
                        <input type="time" class="form-control" id="description" placeholder="Enter Show Time" v-model="details.show_time">
                    </div>
                     <div class="form-group"> 
                        <label>Select Movie Type</label>
                        <select class="form-control" v-model="details.category">
                            <option value="horror">Horror</option>
                            <option value="comedy">Comedy</option>
                            <option value="drama">Drama</option>
                            <option value="action">Action</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="price">Show Ticket Price</label>
                        <input type="text" class="form-control" id="price" placeholder="Enter Show Ticket Price" v-model="details.rupees">
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary" v-on:click="update()">Update</button>
                </div>
              </form>
            </div>

</div>

</template>
<script>
    export default{
        data:function(){
            return{
                details     : {}, 
                inserted    : '',
                error       : '',
                image: ''
            }
        },

        
        methods:{
            onImageChange(e) {
                let files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
            },
            createImage(file) {
                let reader = new FileReader();
                let vm = this;
                reader.onload = (e) => {
                    vm.image = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            update:function(){
                axios.post('api/monday-update',{
                    "monday_id"   : this.details.id,
                    "name"        : this.details.name,
                    "description" : this.details.description,
                    "show_time"   : this.details.show_time,
                    "category"    : this.details.category,
                    "price"       : this.details.rupees,
                    "image"       : this.image
                })
                .then((response)=>{
                     this.inserted = response.data.message
                     this.details.name = '',
                     this.details.description ='',
                     this.details.show_time = '',
                     this.details.category = '',
                     this.details.rupees = ''
                     })
                .catch((errors) => this.error = errors.response.data.errors)
            }
        },
        created:function(){
            let id = this.$route.params.id;
            axios.get('api/monday-edit/'+id)
            .then((response)=>this.details = response.data)
            .catch((error)=>console.log(error))
        }
    }
</script>