<template>
<div>   

            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit Monday Movie</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              
              <form role="form">
                <div class="card-body">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter Movie Name" v-model="details.name" >
                      </div>
                    <div class="form-group">
                        <label for="price">Show Ticket Price</label>
                        <input type="text" class="form-control" id="price" placeholder="Enter Show Ticket Price" v-model="details.rupees">
                    </div>
                    
                    <div class="form-group">
                        <label for="price">No of Persons</label>
                        <input type="text" class="form-control" id="price" placeholder="Enter No of Person" v-model="person">
                    </div>
                    
                </div>
                <!-- /.card-body -->

                <div class="form-group">
                  
                	<label for="price">Total:- &nbsp;</label>
                	<span v-if="total">&#8377; {{total}}.00/-</span>
                	<span v-else>0</span>
					
                </div>
                <div class="footer">
                <button >Book</button>
                </div>
              </form>
            </div>

</div>

</template>
<script>
    export default{
        data:function(){
            return{
                details     : {}, 
                inserted    : '',
                error       : '',
                person      : '',
               

            }
        },

        computed:{
        	total:function(){
        		 return parseInt(this.details.rupees) * parseInt(this.person);
        	}
        },
        
            
           
        created:function(){
            let id = this.$route.params.id;
            axios.get('api/m-edit/'+id)
            .then((response)=>this.details = response.data)
            .catch((error)=>console.log(error))
        }
    }
</script>