<template>

	<div>
    <h3 class="bg-danger text-center"> Monday Movie List</h3>
		<table class="table table-hover table-responsive text-white">
        <h2 v-if="inserted" class="alert alert-success">
                {{inserted}}
              </h2>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Des</th>
              <th scope="col">Image</th>
              <th scope="col">Show Time</th>
              <th scope="col">Category</th>
              <th scope="col">Rupees</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(datas,index) in details.data">
              <th scope="row">{{details.current_page-1}}{{index}}</th>
              <td>{{datas.name}}</td>
              <td>{{datas.description}}</td>
              <td><img v-if="datas.image" :src="'images/'+datas.image" class="img-responsive">
                  <p v-else>Not Found</p>
              </td>
              <td>{{Date('d:M:Y',datas.show_time)}}</td>
              <td>{{datas.category}}</td>
              <td>{{datas.rupees}}</td>
             <td>
                    <router-link :to="{name:'BookMovie',params:{id:datas.id}}" class="btn btn-primary">Book</router-link>
                   
              </td>
            </tr>
             <pagination :data="details" @pagination-change-page="getResults"></pagination>
          </tbody>
        </table>
	</div>
</template>

<script>
  export default{
    data:function(){
      return{
        details : {},
        error   : '',
        inserted: ''
      }
    },

    mounted() {
        // Fetch initial results
        this.getResults();
        },
    methods: {
        
        getResults(page = 1) {
            axios.get('api/m-front?page=' + page)
                .then(response => {
                    this.details = response.data;
                });
        },

        
    },
    
    created:function(){
        axios.get('api/m-front')
        .then((response)=>this.details = response.data)
        .error((errors)=>this.error = errors.response.data.errors)
    }
    
  }
</script>