<template>

	<div id="nav">

		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<img src="images/vuejs-cinema.jpg" class="img-responsive" width="500px" height="180px">
				</div>
				
			</div>
		</div>

		<nav class="navbar navbar-expand-lg navbar-light bg-dark rounded m-5 font-weight-bold">
			  <a class="navbar-brand text-white" href="#">Vue Movie</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav ">
			      <li class="nav-item ">
			        <router-link to="/monday" class="nav-link text-white">Monday </router-link>
			      </li>

			      <li class="nav-item">
			        <router-link to="/tuesday" class="nav-link text-white">Tuesday</router-link>
			      </li>

			      <li class="nav-item ">
			        <router-link to="/wednesday" class="nav-link text-white">Wednesday</router-link>
			      </li>

			      <li class="nav-item ">
			        <router-link to="/thrusday" class="nav-link text-white">Thrusday</router-link>
			      </li>

			      <li class="nav-item ">
			        <router-link to="/friday" class="nav-link text-white">Friday</router-link>
			      </li>

			      <li class="nav-item">
			        <router-link to="/saturday" class="nav-link text-white">Saturday</router-link>
			      </li>

			      <li class="nav-item ">
			        <router-link to="/sunday" class="nav-link text-white">Sunday</router-link>
			      </li>

			      <li class="nav-item ">
			        <router-link to="/login" class="btn btn-danger text-white">Login</router-link>
			      </li>
			      	&nbsp;
			      <li class="nav-item ">
			        <router-link to="/register" class="btn btn-info text-white font-weight-bold">Register</router-link>
			      </li>
			    </ul>
			</div>
	    </nav>
	</div>

</template>
<script>

</script>
<style>
	nav{
		background-color:#232323;
	}

	router-link:hover{
		background-color:#B50011;
	}
	
</style>