<template>
	<div>
		<h3 class="font-weight-bold text-white">Filter Results</h3>
		<hr>
		<h4 class="text-white font-weight-bold">By time of day</h4>
		<div class="form-check">
  			<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  			<label class="form-check-label text-white font-weight-bold" for="defaultCheck1">
    		Before 6 pm
  			</label>
		</div>

		<div class="form-check">
  			<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  			<label class="form-check-label text-white font-weight-bold" for="defaultCheck1">
    		After 6 pm
  			</label>
		</div>
		<br>
		<h4 class="text-white font-weight-bold">By genere</h4>
		<div class="form-check">
		<ul class="list-group">
			<li>
  			<input class="form-check-input" type="checkbox" value="comedy"  v-model="box" >
  			<label class="form-check-label text-white font-weight-bold">
    		Comedy
  			</label></li>

  			<li><input class="form-check-input" type="checkbox" value="drama" id="defaultCheck1" v-model="box" >
  			<label class="form-check-label text-white font-weight-bold" for="defaultCheck1">
    		Drama
  			</label></li>

  			<li><input class="form-check-input" type="checkbox" value="action" id="defaultCheck1" v-model="box" >
  			<label class="form-check-label text-white font-weight-bold" for="defaultCheck1">
    		Action
  			</label></li>
           
  			<li><input class="form-check-input" type="checkbox" value="horror" id="defaultCheck1" v-model="box" >
  			<label class="form-check-label text-white font-weight-bold" for="defaultCheck1">
    		Horror
  			</label></li>
        <button v-on:click="check" class = "btn btn-primary">serach</button>
  		</ul>
		</div>

	</div>

</template>
<script>
  export default{
    data:function(){
      return {
        box: []
      }
    },

    methods:{
      check:function(){
        axios.post('api/search',{
          "boxd" : this.box
        })
        .then((response)=>console.log(response))
      }
    }

  }

</script>
<style>
	hr{
		display: block; height: 2px;
    	border: 0; border-top: 4px solid #ccc;
    	margin: 1em 0; padding: 0;
	}
</style>